
input:focus{
    outline: none;
}
div.right_side_bar{
    position: fixed;
    right: 30px;
    top: 10px;
}
.left_sidebar{
    position: sticky;
    top: 0px;
    height: fit-content;
}

.hover{
    cursor: pointer;
}

.fa-star:hover{
    color: gold;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: black;
}